---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/Favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/Favicaon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/Favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</header>

{% include menu_item.html collection=site.data.menu.entries %}
